body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color:white;
}
.naveJog {
  width: 55px;
  height: 80px;
  background-image: url("nave_Jog.gif");
  position: absolute;
}
.telaMsg {
  position: absolute;
  margin-left: -25%;
  top: 50px;
  left: 50%;
  width: 720px;
  height: 621px;
  display: none;
}
#medidorPlaneta {
  border: 2px solid #000;
  width: 600px;
  height: 20px;
  background-color: #fff;
}
#barraPlaneta {
  width: 600px;
  height: 20px;
  background-color: #66f;
}

.bomba {
  width: 27px;
  height: 40px;
  background-image: url("bomba.gif");
  position: absolute;
}
.tiroJog {
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 6px;
  position: absolute;
}
.explosãoChão {
  width: 55px;
  height: 87px;
  position: absolute;
}
.explosãoAr {
  width: 70px;
  height: 70px;
  position: absolute;
}
.telaMsg {
  position: absolute;
  margin-left: -25%;
  top: 50px;
  left: 50%;
  width: 741px;
  height: 499px;
  display: none;
}